<nav class="bg-gray-800">
  <div class="container mx-auto px-4 py-2 flex justify-between items-center">
***REMOVED***  <!-- Logo -->
***REMOVED***  <a href="/" class="text-white text-2xl font-bold tracking-tight transition-colors delay-200 hover:text-indigo-300">
***REMOVED******REMOVED***  Ayem<span class="text-indigo-300">Dibi</span>
***REMOVED***  </a>

***REMOVED***  <!-- Menü -->
***REMOVED***  <ul class="flex space-x-4 text-white">
***REMOVED***  </ul>

***REMOVED***  <!-- Giriş ve Kayıt -->
***REMOVED***  <ul class="flex space-x-4 text-white">
***REMOVED******REMOVED******REMOVED***  <li>
***REMOVED******REMOVED******REMOVED******REMOVED***  <a href="#" id="toggleLoginForm">Login</a>
***REMOVED******REMOVED******REMOVED***  </li>
***REMOVED******REMOVED******REMOVED***  <li>
***REMOVED******REMOVED******REMOVED******REMOVED***  <a id="register" asp-controller="Auth" asp-action="Register">Register</a>
***REMOVED******REMOVED******REMOVED***  </li>
***REMOVED***  </ul>
  </div>
</nav>
