@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.body-style {
  font-family: "Roboto", sans-serif;
  background-color: #f3f4f6;
  display: contents;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  /* Yalnızca yatay kaydırmayı etkinleştir */
***REMOVED***

.container_custom {
  display: flex;
  overflow-x: auto;
  justify-content: space-between;
***REMOVED***

.movie-poster {
  flex: 0 0 auto;
  /* Kartların boyutlarındaki esneklik */
  width: 300px;
  /* Kart genişliği */
  height: 450px;
  background-image: url("https://via.placeholder.com/300x450");
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  filter: grayscale(50%);
***REMOVED***

.movie-poster:last-child {
  margin-right: 0;
***REMOVED***

.movie-poster:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
***REMOVED***

.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.3s ease;
***REMOVED***

.favorite-button:hover {
  transform: scale(1.1);
***REMOVED***

.favorite-icon {
  width: 30px;
  height: 30px;
  fill: #6d28d9;
  transition: fill 0.3s ease;
***REMOVED***

.favorite-icon:hover {
  fill: #4c1d95;
***REMOVED***

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
***REMOVED***url("https://via.placeholder.com/300x450");
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  z-index: 1;
***REMOVED***

.movie-poster:hover .overlay {
  opacity: 1;
***REMOVED***

.poster-info {
  max-width: 80%;
***REMOVED***

.poster-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
***REMOVED***

.poster-description {
  font-size: 0.875rem;
  margin-bottom: 10px;
***REMOVED***

.poster-button {
  padding: 8px 16px;
  background-color: #6d28d9;
  color: #ffffff;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
***REMOVED***

.poster-button:hover {
  background-color: #4c1d95;
***REMOVED***

/* Webkit (Chrome, Safari, Opera) */
.container_custom::-webkit-scrollbar {
  width: 12px;
  /* Scrollbar genişliği */
***REMOVED***

.container_custom::-webkit-scrollbar-thumb {
  background: #6d28d9;
  /* Scrollbar başlık rengi */
  border-radius: 10px;
  /* Scrollbar kenar yarıçapı */
***REMOVED***

.container_custom::-webkit-scrollbar-thumb:hover {
  /* background: #4c1d95; */
  background: rgb(31 41 55 / var(--tw-bg-opacity));
  /* Scrollbar başlık rengi (üzerine gelindiğinde) */
***REMOVED***

.container_custom::-webkit-scrollbar-track {
  background: #f3f4f6;
  /* Scrollbar arka plan rengi */
***REMOVED***

.container_custom::-webkit-scrollbar-track:hover {
  background: #f1f1f1;
  /* Scrollbar arka plan rengi (üzerine gelindiğinde) */
***REMOVED***
